.logo {
    display: flex;
    min-width: 200px;
    gap: 10px;
    align-items: center;
    font-size: large;
    font-weight: 100;
}

.logo img{
    max-width: 32px;
}

.logo .title {
    font-size: large;
}

@media screen and (max-width:750px) {
    .logo .title {
        font-size: medium;
    }
}

@media screen and (max-width:680px) {
    .logo {
        min-width: 40px;
    }

    .logo .title {
        display: none;
    }
}