.postPage__cardRow {
    display: grid;
    grid-template-columns: minmax(400px, 600px) minmax(200px, 350px);;
    gap: 5px;
    overflow: hidden;
}

.postPage__cardRow_body {
    padding: 20px;
}

@media screen and (max-width:950px) {
    .postPage__cardRow {
        grid-template-columns: 1fr;
    }
}
